/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/12/2021, 11:49:13 AM
    Author     : DARKCOBRA
*/



/*! CSS Used from: Embedded */
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}
/*! CSS Used from: https://www.istockphoto.com/sign-in/assets/css/istock-9e03cafe.css ; media=all */
@media all {
    article,
    div,
    fieldset,
    form,
    h1,
    header,
    iframe,
    img,
    label,
    li,
    ol,
    p,
    section,
    span {
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    * {
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    article,
    header,
    section {
        display: block;
    }
    img {
        max-width: 100%;
    }
    img {
        border: 0 transparent;
    }
    ol {
        list-style: none;
    }
    a {
        background: transparent;
        font-size: 100%;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    a:focus {
        outline: none;
        text-decoration: underline;
    }
    button,
    input,
    select,
    textarea {
        background-color: #fff;
        border: 0;
        font-family: inherit;
        font-weight: inherit;
        margin: 0;
        padding: 0;
    }
    .clickable {
        cursor: pointer;
    }
    button {
        margin: 0;
        overflow: visible;
        width: auto;
    }
    ::selection {
        background: #dbf1ff;
        color: #474747;
    }
    ::-moz-selection {
        background: #dbf1ff;
        color: #474747;
    }
    h1 {
        zoom: 1;
    }
    h1:after,
    h1:before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    h1:after {
        clear: both;
    }
    input[type="password"]:not(.non-default),
    input[type="text"]:not(.non-default),
    textarea:not(.non-default) {
        -webkit-appearance: none;
        border: 1px solid #666e6e;
        border-radius: 0;
        font-family: iStock Maquette, Helvetica, Arial, sans-serif;
        font-size: 1.125em;
        height: 2em;
        line-height: 2em\9;
        padding: 1px 8.5px;
        width: 100%;
    }
    input:not(.non-default)[type="password"]::-webkit-input-placeholder,
    input:not(.non-default)[type="text"]::-webkit-input-placeholder,
    textarea:not(.non-default)::-webkit-input-placeholder {
        color: #b3b3b3;
    }
    input:-moz-placeholder[type="password"]:not(.non-default),
    input:-moz-placeholder[type="text"]:not(.non-default),
    textarea:-moz-placeholder:not(.non-default) {
        color: #b3b3b3;
    }
    input:-ms-input-placeholder[type="password"]:not(.non-default),
    input:-ms-input-placeholder[type="text"]:not(.non-default),
    textarea:-ms-input-placeholder:not(.non-default) {
        color: #b3b3b3;
    }
    input:focus[type="password"]:not(.non-default),
    input:focus[type="text"]:not(.non-default),
    textarea:focus:not(.non-default) {
        border: 2px solid #02a388;
        outline: none;
        padding: 0 7.5px;
    }
    @media (-webkit-min-device-pixel-ratio: 0) {
        body.basic_registrations_container
        section.main_body
        div.site-width
        article.basic_register_form
        select.country_code {
            background-image: url(data:image/gif;base64,R0lGODlhFwAHAOMIAFNTU1xcXGZmZoODg5mZmbm5udvb2/Ly8v///////////////////////////////yH5BAEKAA8ALAAAAAAXAAcAAAQq8AyDajXj2M0HCNQVAANnIgXwUcYIFKdZjAHhwrHZqmse7yBfziAICS0RADs=);
            background-position: 100%;
            background-repeat: no-repeat;
            padding-right: 28px !important;
        }
    }
    .ng-hide,
    .ng-inactive {
        display: none !important;
    }
    div.site-width {
        margin: 0 auto;
        max-width: 1146px;
        width: 90%;
    }
    div.site-width:after {
        clear: both;
        content: "";
        display: table;
    }
    h1 {
        font-size: 1.375rem;
    }
    @media screen and (min-width: 641px) {
        h1 {
            font-size: 1.75rem;
        }
    }
    h1 {
        color: #0c0d0d;
        font-family: iStock Maquette, Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 0;
    }
    section.main_body {
        background-color: #e8eded;
        position: relative;
    }
    div.site-width {
        max-width: 100%;
        width: 100%;
    }
    p {
        margin-bottom: 1.5em;
        text-indent: 0;
    }
    a {
        color: #02a388;
        outline: none;
    }
    a,
    a:active,
    a:hover {
        text-decoration: none;
    }
    a:active,
    a:hover {
        color: #028a71;
    }
    .content_wrapper a,
    .content_wrapper a:active,
    .content_wrapper a:hover,
    .content_wrapper a:visited {
        text-decoration: none;
    }
    button {
        -webkit-font-smoothing: antialiased;
    }
    select {
        background-color: #fff;
    }
    select:focus {
        outline: none;
    }
    ::-moz-selection {
        background-color: default;
        -moz-text-shadow: none 0 0.125em 0.1875em;
        -webkit-text-shadow: none 0 0.125em 0.1875em;
        -o-text-shadow: none 0 0.125em 0.1875em;
        -ms-text-shadow: none 0 0.125em 0.1875em;
        text-shadow: none 0 0.125em 0.1875em;
    }
    ::selection {
        background-color: default;
        -moz-text-shadow: none 0 0.125em 0.1875em;
        -webkit-text-shadow: none 0 0.125em 0.1875em;
        -o-text-shadow: none 0 0.125em 0.1875em;
        -ms-text-shadow: none 0 0.125em 0.1875em;
        text-shadow: none 0 0.125em 0.1875em;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-image: url(data:image/gif;base64,R0lGODlhFwAHAOMIAFNTU1xcXGZmZoODg5mZmbm5udvb2/Ly8v///////////////////////////////yH5BAEKAA8ALAAAAAAXAAcAAAQq8AyDajXj2M0HCNQVAANnIgXwUcYIFKdZjAHhwrHZqmse7yBfziAICS0RADs=);
        background-position: 100%;
        background-repeat: no-repeat;
        outline: none;
        overflow: hidden;
        padding-right: 28px !important;
        text-indent: 0.01px;
        text-overflow: "";
    }
    select::-ms-expand {
        display: none;
    }
    ng-message {
        background-color: #ffd900;
        color: #000;
        display: block;
        line-height: 19px;
        margin-bottom: 10px;
        margin-top: 4px;
        min-height: 3.7rem;
        padding: 20px;
        width: 100%;
    }
    input[type="password"]:not(.non-default),
    input[type="text"]:not(.non-default),
    select,
    textarea:not(.non-default) {
        -webkit-appearance: none;
        border: 1px solid #666e6e;
        border-radius: 0;
        box-shadow: none;
        color: #0c0d0d;
        font-family: iStock Maquette, Helvetica, Arial, sans-serif;
        font-size: 16px;
        height: 3.7rem;
        line-height: 2em\9;
        padding: 1px 8.5px;
        width: 100%;
    }
    input:not(.non-default)[type="password"]::-webkit-input-placeholder,
    input:not(.non-default)[type="text"]::-webkit-input-placeholder,
    select::-webkit-input-placeholder,
    textarea:not(.non-default)::-webkit-input-placeholder {
        color: #b3b3b3;
    }
    input:-moz-placeholder[type="password"]:not(.non-default),
    input:-moz-placeholder[type="text"]:not(.non-default),
    select:-moz-placeholder,
    textarea:-moz-placeholder:not(.non-default) {
        color: #b3b3b3;
    }
    input:-ms-input-placeholder[type="password"]:not(.non-default),
    input:-ms-input-placeholder[type="text"]:not(.non-default),
    select:-ms-input-placeholder,
    textarea:-ms-input-placeholder:not(.non-default) {
        color: #b3b3b3;
    }
    select ::-webkit-input-placeholder {
        color: #a8b2b1;
    }
    select :-moz-placeholder,
    select ::-moz-placeholder {
        color: #a8b2b1;
    }
    select :-ms-input-placeholder {
        color: #a8b2b1;
    }
    input:focus[type="password"]:not(.non-default),
    input:focus[type="text"]:not(.non-default),
    select:focus,
    textarea:focus:not(.non-default) {
        border: 2px solid #666e6e;
        box-shadow: none;
        outline: none;
    }
    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    a {
        font-weight: 500;
    }
    ol li input {
        height: 55px;
    }
    header {
        margin-bottom: 10px;
    }
    label {
        display: none;
    }
    input[type="password"],
    input[type="text"] {
        border: 1px solid #000;
        box-shadow: none;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
    input:focus {
        border: 2px solid #666e6e;
        box-shadow: none;
        outline: none;
    }
    button {
        position: relative;
    }
    button {
        background-color: #02a388;
        border: 1px solid #02937a;
        border-radius: 4px;
        box-shadow: inset 0 0 2px 0 hsla(0, 0%, 100%, 0.5);
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.125rem;
        font-weight: 500;
        margin: 0 0 20px;
        padding: 0.9375rem 30px 1rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.15s linear;
        width: 100%;
    }
    button:focus,
    button:hover {
        background-color: #02937a;
        box-shadow: none;
        color: #fff;
    }
    @media screen and (max-width: 540px) {
        button {
            margin: 0 0 25px;
            width: 100%;
        }
    }
    .logo {
        background-color: #000;
        height: 80px;
        left: -30px;
        position: relative;
        text-align: left;
        top: -30px;
        width: calc(100% + 60px);
    }
    @media screen and (max-width: 540px) {
        .logo {
            left: -20px;
            top: -20px;
            width: calc(100% + 40px);
        }
    }
    .logo .clickable {
        display: block;
        margin: 0 auto;
        width: 108px;
    }
    .logo .clickable img {
        height: 108px;
        margin-top: -13px;
        position: absolute;
        width: 108px;
    }
    body.basic_registrations_container .checkbox {
        background-image: url(https://www.istockphoto.com/sign-in/assets/static/checkbox_unselected-e49f19ec41d42ed4db7e.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: block;
        height: 18px;
        transition: all 0.2s ease-in-out;
        width: 18px;
    }
    body.basic_registrations_container .checkbox input[type="checkbox"] {
        display: none;
    }
    body.basic_registrations_container .checkbox:hover {
        background-image: url(https://www.istockphoto.com/sign-in/assets/static/checkbox_hover-1465729f06ef464bb048.svg);
    }
    body.basic_registrations_container .checkbox-selected .checkbox {
        background-image: url(https://www.istockphoto.com/sign-in/assets/static/checkbox_selected-9082e3bb2ebfd1ec9b61.svg);
    }
    body.basic_registrations_container section.main_body div.site-width {
        margin-top: 5vh;
    }
    @media screen and (max-width: 540px) {
        body.basic_registrations_container
        section.main_body
        div.site-width
        article.basic_register_form
        h1 {
            font-size: 14px;
        }
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    p#already-a-member {
        font-size: 14px;
        margin-bottom: 5px;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    input {
        border: 1px solid #666e6e;
        margin-bottom: 0;
        margin-top: 10px;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    select.country_code {
        -webkit-appearance: none;
        border: 1px solid #666e6e;
        -webkit-border-radius: 0;
        font-size: 16px;
        height: 55px;
        margin-top: 10px;
        padding-left: 10px;
        width: 100%;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    li#email-preference-container {
        margin: 20px 0;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    li#email-preference-container
    div#checkbox {
        display: inline-block;
        margin-top: 5px;
        vertical-align: top;
        width: 10%;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    li#email-preference-container
    div#checkbox
    input.email-check-box {
        height: auto;
        margin-right: 5px;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    li#email-preference-container
    div#register-email-text {
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
        width: 90%;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    p#accept-account-terms {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    .ng-active {
        background-color: #ffd900;
        display: block;
        font-size: 0.875rem;
        height: auto;
        line-height: 18px;
        margin-top: 3px;
        padding: 10px;
        transition: all 0.3s ease-out;
        width: 100%;
    }
    body.basic_registrations_container
    section.main_body
    div.site-width
    article.basic_register_form
    ng-message {
        margin: 0;
        min-height: 0;
        padding: 0;
    }
    body.basic_registrations_container .join-recaptcha {
        margin-top: 15px;
    }
    body.basic_registrations_container .join-recaptcha .g-recaptcha {
        transform: scale(0.78);
        transform-origin: 0 0;
    }
    @media (min-width: 376px) {
        body.basic_registrations_container .join-recaptcha .g-recaptcha {
            transform: none;
        }
    }
    section.main_body {
        background-color: transparent;
        padding: 0 30px 100px;
        text-align: left;
    }
    @media only screen and (max-width: 640px) {
        section.main_body {
            padding: 0 30px 70px;
        }
    }
    section.main_body .site-width {
        background: #fff;
        background-clip: padding-box;
        border: 10px solid rgba(12, 13, 13, 0.25);
        border-radius: 10px;
        margin: 20vh auto 10px;
        max-width: 425px;
        padding: 30px;
        width: auto;
    }
    @media only screen and (max-width: 640px) {
        section.main_body .site-width {
            margin-top: 20px;
            padding: 20px;
        }
    }
}
/*! CSS Used from: https://www.istockphoto.com/collaboration/assets/css/istock-panel-9e61f416.css */
.main_body {
    min-height: 600px;
}
@media print {
    body header {
        display: none;
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: iStock Maquette;
    font-style: normal;
    font-weight: 400;
    src: url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-regular-16d404f7d1b40d613a3b.eot);
    src: url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-regular-16d404f7d1b40d613a3b.eot#iefix)
        format("embedded-opentype"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-regular-b848d4bbf1d776c799f6.woff)
        format("woff"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-regular-b0a203e2441265909a75.ttf)
        format("truetype"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-regular-89a37fa2cf5a41c434d9.svg#istkmaquetteweb-regular)
        format("svg");
}
@font-face {
    font-family: iStock Maquette;
    font-style: normal;
    font-weight: 500;
    src: url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-medium-ba1d6ffd1208979abf10.eot);
    src: url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-medium-ba1d6ffd1208979abf10.eot#iefix)
        format("embedded-opentype"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-medium-4f04672afdd6e7158256.woff)
        format("woff"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-medium-0d34e93de6ba278fd5cf.ttf)
        format("truetype"),
        url(https://www.istockphoto.com/sign-in/assets/static/istkmaquetteweb-medium-a0470d7024c7a94ae375.svg#istkmaquetteweb-medium)
        format("svg");
}



